<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link th:href="@{/css/home.css}" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <title>home</title>
</head>

<body>
<header>
    <h1>Hello-Spring</h1>

    <nav>
        <span>
            <a href="/members/new">회원 가입</a>
            <a href="/members">회원 목록</a>
        </span>
    </nav>
</header>

<main>
    <p>This is the main area.</p>
    <p>This is the main area.</p>
    <p>This is the main area.</p>
    <p>This is the main area.</p>
    <p>This is the main area.</p>
    <p>This is the main area.</p>
    <p>This is the main area.</p>
    <p>This is the main area.</p>
    <p>This is the main area.</p>
    <p>This is the main area.</p>
</main>

</body>
</html>